[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "optimization"]
	path = optimization
	url = https://github.com/kaihusmann/optimization
	shallow = true
	registered = true
